#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;}
#overlay img{ border: none; }

#overlay{ background-image: url(overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}

iframe.imagedrop {
  width: 100%;
  border: none;
  height: 180px;
}

.imagedropframe {
  background-color: #FFFFFF;
  margin: 2px 5px;
}

.palette-thumb {
 background-color: #CFCFCF;
 padding: 3px;
 float: left;
 width: 150px;
 height: 100px;
 margin: 0 2px;
 text-align: center;
}

iframe.imagedrop .form-item label {
  display: inline;
}
#imagedrop-gallery {
  overflow: auto;
}